body{
   width:100%;
   max-width:2000px;
   margin:0 auto;
   padding:0;
   font-family:Arial,sans-serif;
  }
  
  #container{
   width:100%;
   max-width:2000px;
   margin:0 auto;
   padding:0;
   height:;
  }
  
  a{text-decoration:none;}
  
  
  
  
  #nav{
  width:100%;
  max-width:2000px;
  margin:0 auto;
  background:#CCCCBE;
  border-bottom:0px solid black;
  }#nav #title{
  position:;
  top:0;
  }#nav #title h1{
  font-family:cursive;
  padding:0;
  margin:0;
  color:whit;
  }#nav #title h1 svg{
  font-size:50px;
  }#nav #image{
  width:100%;
  max-width:2000px;
  margin:0 auto;
  }#nav #image img{
  width:250px;
  display:flex;
  justify-content:center;
  margin:auto;
  
  }
  
  
  #sender{
  width:100%;
  max-width:1000px;
  margin:0 auto;
  background:#F9DE85;
  padding-bottom:10;
  }#sender img{
  width:50%;
  display:flex;
  justify-content:center;
  margin:auto;
  }#sender h3{
  text-align:center;
  font-family:cursive;
  font-weight:;
  }#sender form{
  width:100%;
  max-width:250px;
  margin:0 auto;
  }#sender form input{
  width:100%;
  background:#f4f4f4;
  border:0px;
  margin-bottom:5;
  height:35px;
  border-radius:5px;
  outline:none;
  }#sender form textarea{
  background:#f4f4f4;
  border:0px;
  outline:none;
  height:50px;
  margin-bottom:5;
  border-radius:5px;
  width:100%;
  }#sender form button{
  background:gray;
  height:30px;
  border:0px;
  border-radius:5px;
  color:white;
  }#sender form button:hover{
  width:100%;
  }
  
  
  #bottom-nav{
  width:100%;
  max-width:200px;
  margin:0 auto;
  background:#7F8C8D;
  display:flex;
  justify-content:space-between;
  padding:10;
  border-radius:50px;
  position:sticky;
  bottom:10;
  border:0.5px solid white;
  }#bottom-nav a button{
  background:none;
  border:0px;
  outline:none;
  }#bottom-nav a button svg{
  font-size:30px;
  }
  
  
 footer{
 width:;
 max-width:2000px;
 margin:0 auto;
 background:#CCCCBE;
 position:relative;
 padding:30;
 
 }footer b{
 color:white;
 font-weight:lighter;
 }footer a button{
 background:none;
 outline:none;
 border:0px;
 position:absolute;
 right:10;
 bottom:20;
 }footer a button svg{
 font-size:35px;
 }